.adminLayout {
  display: flex;
  .sider {
    height: 100vh;
    background-color: white;
    overflow: auto;
    position: sticky;
    top: 0;
    left: 0;
  }
  .logo {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    background-color: white;
    padding: 0 20px;
    display: flex;justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1500;

    .account {
      width: 160px;
      display: flex;
      justify-content: space-around;
      .dropdownFullName {
        font-family: NOTO-SANS_ARMENIAN, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: #B2C2B0;
        cursor: pointer;
      }
      .dropdownFullName:hover {
        color: #5BC852;
      }
    }
    .trigger {
      box-shadow: none;
      border: none;
    }
  }
  .content {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
  }

  .ant-menu-item-selected {
    background-color: #EFF5E4 !important;
  }
  .ant-menu-inline > .ant-menu-item:after {
    border-right: 3px solid #5BC852;
  }

  .ant-menu > .ant-menu-item:hover,
  .ant-menu > .ant-menu-submenu:hover,
  .ant-menu > .ant-menu-item-active,
  .ant-menu> .ant-menu-submenu-active,
  .ant-menu > .ant-menu-item-open,
  .ant-menu> .ant-menu-submenu-open,
  .ant-menu > .ant-menu-item-selected,
  .ant-menu > .ant-menu-submenu-selected,
  .ant-menu > .ant-menu-submenu-title:hover ,
   {
    color: #5BC852;
    border-bottom: #5BC852;
  }
  .anticon svg:hover {
    color: #5BC852;
  }
  .ant-menu-inline.ant-menu-root > .ant-menu-submenu-title>.ant-menu-title-content:hover {
    color: #5BC852;
  }
  .anticon > svg:hover {
    color: #5BC852;
  }
  .ant-btn:focus, .ant-btn:hover {
    color: #5BC852;
  }
  .ant-layout {
    background: #EFF5E4;
  }
  .anticon svg {
    color: #BCC6BB !important;
  }
  .anticon svg:hover {
    color: #5BC852 !important;
  }
}