.signIn {
  width: 460px;
  .title {
    font-family: NOTO-SANS_ARMENIAN, sans-serif;
    font-size: 30px;
    line-height: 35.16px;
    letter-spacing: 0.05em;
    color: #253025;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .form {
    width: 100%;
    .signInInput {
      border-bottom: 1px solid #B2C2B0;
      padding: 0;
    }
  }
}